@media (min-width: 980px) and (max-width: 1199px) {
	.not-found-form {
		margin: 50px 5px;
	}
	.chosen-select {
		width: 145px;
	}
	.category-article.category-list .text-wrap {
		.text {
			width: 100%;
			float: left;
			border-right: none;
		}
		.right {
			&.hidden-lg {
				width: 100%;
				float: left;
			}
			a {
				vertical-align: middle;
			}
		}
		.custom-button {
			font-size: 13px;
			margin-right: 10px;
		}
	}
	.category-article.category-grid figure .figure-overlay {
		padding: 15px 20px;
		.custom-button {
			font-size: 12px;
			margin-right: 2px;
			padding: 3px 4px 4px;
		}
	}
}
@media (min-width: 768px) and (max-width: 999px) {
	.not-found-form {
		margin: 50px 5px;
	}
	.author-box .text {
		display: inline-block;
		margin-left: 0;
		margin-top: 10px;
		width: 100%;
	}
	.category-article.category-grid figure .figure-overlay {
		padding: 40px 10px;
		.excerpt {
			display: none;
		}
		.custom-button {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	.chosen-select {
		width: 145px;
	}
	.category-article.category-list .text-wrap {
		.text {
			width: 100%;
			float: left;
			border-right: none;
		}
		.right {
			&.hidden-lg {
				width: 100%;
				float: left;
			}
			a {
				vertical-align: middle;
			}
		}
		.custom-button {
			font-size: 13px;
			margin-right: 10px;
		}
	}
	.filter-bar .half {
		width: 100%;
		&:first-child {
			margin-bottom: 10px;
		}
		.custom-button.btn-sm {
			float: left !important;
		}
		.range-wrap {
			float: right !important;
		}
	}
	.main-bottom .half {
		width: 100%;
		&:first-child {
			margin-bottom: 10px;
		}
	}
	.page-head figcaption {
		padding: 10px 30px;
	}
	body {
		font-size: 12px;
	}
	.main-nav li {
		margin-left: 30px;
	}
	.footer-widget .widget-title h1 {
		font-size: 18px;
	}
	.footer-widget .widget-title h2 {
		font-size: 15px;
	}
	.footer-widget .widget-content .links li a {
		font-size: 12px;
		line-height: 19px;
	}
	.footer-widget .widget-content address {
		font-size: 12px;
		line-height: 25px;
	}
	.social-links ul li a {
		margin-left: 20px;
	}
	.pagination li {
		margin-left: 0;
	}
}
@media (min-width: 200px) and (max-width: 767px) {
	.big-image {
		margin-bottom: 20px;
	}
	.combined-boxes .big-image {
		margin-top: 0;
	}
	.article-slider article figure {
		width: 100%;
	}
	.article-slider article .text {
		margin-left: 0;
		width: 100%;
		float: left;
		margin-top: 10px;
	}
	.newsletter-widget {
		padding: 10px;
	}
	.logo-slider figure {
		margin-bottom: 10px;
	}
	.team-slider .text {
		float: left;
		margin-left: 0;
		margin-top: 10px;
		width: 100%;
	}
	.team-slider {
		margin-top: 20px;
	}
	.not-found-form {
		margin: 20px 5px;
	}
	.author-box .text {
		display: inline-block;
		margin-left: 0;
		margin-top: 10px;
		width: 100%;
	}
	.blog-comments {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			&>li {
				&>ul {
					padding-left: 10px;
					&>li {
						&>ul {
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
	.category-article.category-grid {
		width: 100%;
	}
	.chosen-select {
		width: 100px;
	}
	.category-article.category-list {
		figure {
			width: 100%;
		}
		.text-wrap {
			width: 100%;
			margin-left: 0;
			.text {
				width: 100%;
				border-right: none;
				margin: 0;
				padding: 0;
				float: left;
			}
			.right {
				&.hidden-lg {
					width: 100%;
					float: left;
				}
				a {
					vertical-align: middle;
				}
			}
			.custom-button {
				font-size: 13px;
				margin-right: 10px;
			}
		}
	}
	.page-head figcaption {
		padding: 5px 30px;
		h1 {
			font-size: 30px;
		}
		ul li a {
			font-size: 13px;
			line-height: 23px;
		}
	}
	.filter-bar .half {
		width: 100%;
		&:first-child {
			margin-bottom: 10px;
		}
		.custom-button.btn-sm {
			float: left !important;
		}
		.range-wrap {
			float: right !important;
			margin-left: 15px;
		}
	}
	.navbar-custom {
		.navbar-collapse {
			padding-left: 15px;
			padding-right: 15px;
		}
		.nav.pull-right {
			float:none !important;
		}
	}
	.tinynav {
		width: 100%;
		height: 27px;
		font-size: 18px;
		margin: 10px 0;
	}
	.search-block {
		margin-bottom: 15px;
		background-color: #f2f2f2;
		padding: 5px 0;
	}
    .site-selectors {
	    width: 100%;
	    text-align: center;
    }
    .register-block {
	    text-align: center;
	    margin-bottom: 10px;
    }
	.brand {
		font-size: 34px;
		margin-bottom: 28px;
	}
	.page-title h1 {
		font-size: 22px;
		line-height: 26px;
	}
	.page-title .breadcrumb {
		padding: 9px 0 2px;
		text-align: left;
	}
	#main {
		padding: 20px 0;
	}
	.blog-article .text {
		.left-info {
			width: 100%;
			.bold-text {
				font-size: 16px;
				line-height: 16px;
			}
			.small-text {
				font-size: 13px;
				line-height: 13px;
				margin-bottom: 8px;
			}
			.info-separator {
				margin: 5px 0 15px;
			}
		}
		.right {
			float: left;
			width: 100%;
			margin-left: 0;
		}
	}
	.main-bottom {
		margin: 15px 0;
		.half {
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
		}
	}
	.social-links ul li a {
		margin: 0 15px 5px;
	}
	.footer-widget {
		margin-bottom: 20px;
	}
}